<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="poms.center.dao.ICustomerDao">

	<select id="selectDeliverAreaCustomer" resultType="poms.center.entity.DeliverAreaCustomer">
		SELECT da.deliverAreaValue,count(distinct(customerID)) as count
		FROM `order` o,deliverArea da 
		WHERE o.deliverAreaID = da.deliverAreaID AND o.stationID = #{stationID} 
		group by o.deliverAreaID
		limit #{begin},15
	</select>
	

	<select id="selectAllCustomer" resultType="poms.center.entity.Customer">
		select *
		from customer
		where stationID = #{stationID}
		limit #{begin},15
	</select>

	<delete id="deleteCustomerByID">
		delete from customer
		where customerID = #{customerID}
	</delete>

	<insert id="insertCustomer" parameterType="poms.center.entity.Customer">
		insert into customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customerName != null">
				customerName,
			</if>
			<if test="customerPhone != null">
				customerPhone,
			</if>
			<if test="customerType != null">
				customerType,
			</if>
			<if test="stationID != null">
				stationID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="customerName != null">
				#{customerName},
			</if>
			<if test="customerPhone != null">
				#{customerPhone},
			</if>
			<if test="customerType != null">
				#{customerType},
			</if>
			<if test="stationID != null">
				#{stationID},
			</if>
		</trim>
	</insert>

	<update id="updateCustomer" parameterType="poms.center.entity.Customer">
		update customer
		<set>
			<if test="customerName != null">
				customerName = #{customerName},
			</if>
			<if test="customerPhone != null">
				customerPhone = #{customerPhone},
			</if>
			<if test="customerType != null">
				customerType = #{customerType},
			</if>
			<if test="stationID != null">
				stationID = #{stationID},
			</if>
		</set>
		where customerID = #{customerID}
	</update>
	
	<select id="selectCustomerDebt" resultType="poms.center.entity.Order">
		SELECT *
		FROM `order`
		WHERE customerID = #{customerID} AND paymentState != 0
		limit #{begin},15
	</select>

	<select id="selectBigCustomer" resultType="poms.center.entity.Customer">
		select *
		from customer
		where customerType = 2
	</select>
	
</mapper>