<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="poms.center.dao.INewsOfficeDao" >
  <select id="selectNewsOfficeList" resultType="poms.center.entity.NewsOffice">
    select * 
    from newsOffice
  </select>
  
  <insert id="insertNewsOffice" parameterType="poms.center.entity.NewsOffice">
	insert into newsOffice
	<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="noName != null">
			noName,
		</if>
		<if test="noPhone != null">
			noPhone,
		</if>
	</trim>
	<trim prefix="values(" suffix=")" suffixOverrides=",">
		<if test="noName != null">
			#{noName},
		</if>
		<if test="noPhone != null">
			#{noPhone},
		</if>
	</trim> 
  </insert>
  
  <delete id="deleteNewsOffice">
  	delete from newsOffice 
  	where noID = #{noID}
  </delete>
  
  <update id="updateNewsOffice" parameterType="poms.center.entity.NewsOffice">
  	update newsOffce
  	<set>
		  <if test="noName != null">
		  		noName = #{noName},
		  </if>
		  <if test="noPhone != null">
		  		noPhone = #{noPhone},
		  </if>		
  	</set>
  	where noID = #{noID}
  </update>
  
  
  <select id="selectNewsOfficeByID" resultType="poms.center.entity.NewsOffice">
  	select * 
  	from newsOffice
  	where noID=#{noID} 
  </select>
  
  <select id="selectNewsOfficeByName" resultType="poms.center.entity.NewsOffice">
  	select * 
  	from newsOffice
  	where noName like %#{noName}% 
  </select>
  
</mapper>