<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="poms.center.dao.IDepartmentDao" >
  <select id="selectDepartmentList" resultType="poms.center.entity.Department">
    select * 
    from department
    where stationID=#{stationID}
    limit #{begin},15
  </select>
  
  <insert id="insertDepartment" parameterType="poms.center.entity.Department">
	insert into department
	<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="departmentName != null">
			departmentName,
		</if>
		<if test="stationID != null">
			stationID,
		</if>
	</trim>
	<trim prefix="values(" suffix=")" suffixOverrides=",">
		<if test="departmentName != null">
			#{departmentName},
		</if>
		<if test="stationID">
			#{stationID},
		</if>
	</trim> 
  </insert>
  
  <delete id="deleteDepartment">
  	delete from department 
  	where departmentID = #{departmentID}
  </delete>
  
  <update id="updateDepartment" parameterType="poms.center.entity.Department">
  	update department
  	<set>
		  <if test="departmentName != null">
		  		departmentName = #{departmentName},
		  </if>		
		  <if test="stationID != null">
		  		stationID = #{stationID},
		  </if>
  	</set>
  	where departmentID = #{departmentID}
  </update>
  
  
  <select id="selectDepartmentByID" resultType="poms.center.entity.Department">
  	select * 
  	from department
  	where departmentID=#{departmentID} and stationID=#{stationID}
  	limit #{begin},15
  </select>
  
  <select id="selectDepartmentListByName" resultType="poms.center.entity.Department">
	select *
	from department
	where departmentName like CONCAT('%',#{departmentName},'%' ) and stationID=#{stationID} 
	limit #{begin},15 	
  </select>
</mapper>