<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="poms.center.dao.ITransferComDao" >
  <select id="selectTransferComList" resultType="poms.center.entity.TransferCom">
    select * 
    from transferCom
  </select>
  
  <insert id="insertTransferCom" parameterType="poms.center.entity.TransferCom">
	insert into transferCom
	<trim prefix="(" suffix=")" suffixOverrides="," >
		<if test="companyName != null">
			companyName,
		</if>
		<if test="phone != null">
			phone,
		</if>
		<if test="address != null">
			address,
		</if>
	</trim>
	<trim prefix="values(" suffix=")" suffixOverrides=",">
		<if test="companyName != null">
			#{companyName},
		</if>
		<if test="phone != null">
			#{phone},
		</if>
		<if test="address != null">
			#{address},
		</if>
	</trim> 
  </insert>
  
  <delete id="deleteTransferCom">
  	delete from transferCom 
  	where companyID = #{transferComID}
  </delete>
  
  <update id="updateTransferCom" parameterType="poms.center.entity.TransferCom">
  	update transferCom
  	<set>
		  <if test="companyName != null">
		  		companyName = #{companyName},
		  </if>
		  <if test="phone != null">
		  		phone = #{phone},
		  </if>
		  <if test="address != null">
			address=#{address},
		</if>		
  	</set>
  	where transferComID = #{transferComID}
  </update>
  
  
  <select id="selectTransferComByID" resultType="poms.center.entity.TransferCom">
  	select * 
  	from transferCom
  	where transferComID=#{transferComID} 
  </select>
  
  <select id="selectTransferComListByName" resultType="poms.center.entity.TransferCom">
  	select * 
  	from transferCom
  	where companyName like CONCAT('%',#{transferComName},'%' ) 
  </select>
  
</mapper>