<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投递员业绩统计</title>
</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <!--页面标题提示部分-->
            <div id="mark-id">
                rsgl-tdyyjtj
            </div>

            <div class="title">
                <h2>人事管理>投递员业绩统计</h2>
            </div>

            <!--顶部添加，删除，等操作部分-->
            <div class="operation">
                <div class="search input-group">
                    <input type="text" class="form-control" placeholder="输入姓名" name="employeeName">
                    <span class="input-group-btn"><button class="btn btn-info" type="button" id="search-employee-for-money-btn">
							搜索
						</button></span>
                </div>
            </div>

            <!--表格部分-->
            <div>
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>员工编号</th>
                        <th>员工姓名</th>
                        <th>业绩</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
